/* Default styles */

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

a:hover {
    background: rgba(0,0,0,0.5);
}

#logo {
    width: 80px;
    height: 80px;
}



/********** Header **********/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#brasao {
    width: 50px;
    height: 50px;
    display: block;
}


/* Burguer */

.burguer {
    display: none;
    cursor: pointer;
}

#checkbox-menu {
    max-width: 600px;
    position: absolute;
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}


label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}


label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #414B3B;
    transition: 0.25s esae-in-out;
}

label span:nth-child(1){
    top: 0;
}

label span:nth-child(2){
    top: 8px;
}

label span:nth-child(3){
    top: 16px;
}


@media (max-width: 600px) {

    #brasao{
        margin-left: 50px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0;
        background: rgba(255, 255, 255, 0.3);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(70vh - 80px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0,0,0,0.5);
    }



    .burguer {
        display: block;
        cursor: pointer;
    }

    #checkbox-menu {
        max-width: 600px;
        position: absolute;
        opacity: 0;
    }

    #checkbox-menu:checked + label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px;
    }

    #checkbox-menu:checked + label span:nth-child(2) {
        opacity: 0;
    }

    #checkbox-menu:checked + label span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px;
    }


    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }


    label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        border-radius: 30px;
        background: #414B3B;
        transition: 0.25s esae-in-out;
    }

    label span:nth-child(1){
        top: 0;
    }

    label span:nth-child(2){
        top: 8px;
    }

    label span:nth-child(3){
        top: 16px;
    }
}

/* Slider */
.slider{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides{
    display: flex;
    width: 400%;
    height: 500px;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;

}

.manual-nav{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}


.manual-btn{
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.auto-nav{
    position: absolute;
    width: 100%;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.auto-nav div{
    width: 10px;
    height: 10px;
    border: 2px solid rgb(14, 187, 245);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.auto-nav div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .auto-nav .auto-btn1{
    background: #fff;
}

#radio2:checked ~ .auto-nav .auto-btn2{
    background: #fff;
}

#radio3:checked ~ .auto-nav .auto-btn3{
    background: #fff;
}